@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;600&family=Oswald:wght@100;200;300;400&display=swap');

body {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
}
p{
    line-height: 1.6;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Oswald' , sans-serif;
    font-weight: 200;
}


h2:not(:first-of-type),h3:not(:first-of-type),h4:not(:first-of-type),h5:not(:first-of-type){
        margin-top: .375em;
    }


h2,h3,h4,h5{
    
    margin-bottom: 0;
    line-height: 1.2;
}
h1 {
    font-size: 3.5rem;
    line-height: 1;
}

h2 {
    font-size: 3rem;
   
}

h3{
    font-size: 1.5rem;
    
}
h4{
    font-size: 1.3rem;
    
}
h5{
    font-size: 1rem;
    
}

.section-subtitle {
    font-size: 1.5rem;
   
}
/*Colours*/
/*form colours*/
/* Border Radius*/
/*/Screen Breakpoints*/
/*Padding and margin settings*/
/*standard padding for the site*/
/*Spacers*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
/* Set core body defaults */
body {
  /* min-height: 100vh;*/
  text-rendering: optimizeSpeed;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}
/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*Copied from Andy Bell reset https://piccalil.li/blog/a-modern-css-reset/ ///////*/
body {
    background-color: #fbfefd;
    color: #030706;
}
a {
    color: #030706;
    font-weight: 400;
    text-decoration-color: hsl(339, 44%, 44%);
    text-decoration-thickness: 3px;
    text-decoration-style: dotted;
    text-underline-offset: .1rem;
    display: inline-block;
    transition: text-decoration-style 300ms ease-out;
}
a:hover {
        opacity: 0.8;
        text-decoration-style: solid;
        
        transition: text-decoration-style 300ms ease-out;
    }
* ::-webkit-scrollbar {
        /*defines scrollbar width*/
        width: 8px;
        height: 8px;
    }
* ::-webkit-scrollbar-thumb {
        /*Actual scroll block*/
        background: hsl(339, 44%, 44%);
        border-radius: 0.375rem;
    }
* ::-webkit-scrollbar-thumb:hover {
            background: hsl(339, 44%, 70%);
        }
* ::-webkit-scrollbar-track {
        /* Track in which the scroll bar follows*/
        background: #fff;
        border: 1px solid hsl(339, 44%, 44%);
        border-radius: 10px; /*Makes the scroll bar a pill shape and pushes it down*/
        margin-block: 0.25rem;
    }
/*Add this for firefox compatibility. Only supports two colours*/
@supports (scrollbar-color: hsl(339, 44%, 44%) #FFF5EC) {
    * {
        scrollbar-color: hsl(339, 44%, 44%) #FFF5EC;
        scrollbar-width: auto;
    }
}
.btn-primary {/*primary button*/
    outline: none;
    appearance: none;
    background-color: hsl(339, 44%, 44%);
    color: #fff;
    border: 1.5px solid hsl(339, 44%, 44%);
    border-radius: 5px;
    padding: .375rem .75rem;
    transition: box-shadow 300ms ease-out;
    width: fit-content;
   cursor: pointer;
    
}
.btn-primary:focus{
        box-shadow: 0 0 2px 3px hsl(339, 44%, 44%);
        transition: box-shadow 300ms ease-out;
    }
.btn-primary svg{
    margin-right: 0.5rem;
}
::file-selector-button{
    outline: none;
    appearance: none;
    background-color: hsl(339, 44%, 50%);
    color: #fff;
    border: 1.5px solid hsl(339, 44%, 50%);
    border-radius: 5px;
    padding: .375rem .75rem;
    transition: box-shadow 300ms ease-out;
}
.btn-secondary{
    background-color: white;
    color: #030706;
}
a.btn-primary{
    
    text-decoration: none;
}
/*change bg color to the accent col*/
.btn-accent{
    background-color: hsl(339, 44%, 47%);
}
.btn-delete{
    background-color: hsl(0, 95%, 67%);
    border-color: hsl(0, 95%, 67%);
}
.btn-delete:focus{
        box-shadow: 0 0 2px 3px hsl(0, 95%, 67%);
        transition: box-shadow 300ms ease-out;
    }
.btn-close{/*close button*/
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.1em 0.1em;
    color: hsl(339, 44%, 44%);
    font-size: 2rem;
    border: 0;
    border-radius: 0.25rem;
    background: transparent;
    display: grid;
    place-items: center;
    cursor: pointer;
}
.btn-close:hover{
        opacity: 1;
    }
.btn-close:focus,
    .btn-close:focus-within {
        outline: 2px solid hsl(339, 44%, 47%);
    }
.alert{
    /*/Alert button for buttons to draw attention*/
    background-color: hsl(0, 95%, 67%);
    border-color: hsl(0, 95%, 67%);
}
.btn-cta{
    /* call to action button*/
    padding: .5em 1em;
    font-size: 1.25rem;
}
/*large btn 100% width*/
.btn-lg{
    width: 100%;

}
/*Form Grid, cols provide 2 columns 50% on larger screens*/
.form-row{
    display: grid;
    gap: 0.5rem;
    max-width: 1000px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 250px));
}
.form-input-col{
    display: flex;
    flex-direction: column;
}
/*////*/
/*Recaptcha  settings*/
.recaptcha-token{
    display: none;
}
/*container for privacy message, this is displayed as we have hidden the recaptcha logo*/
.google-policy{
    margin-block: 0.5rem;
}
.google-policy p{
        margin-bottom: 0;
    }
/*/Form wrapper to wrap login and password reset  forms in etc*/
.login-wrapper{
    border-radius: 5px;
    background-color: white;
    padding: 2rem;
    width: 95%;
    max-width: 600px;
    margin: 0 auto;
    margin-block: 1.5rem;
}
/*/form input wrapper, holds labels and inputs together*/
.form-input-wrapper{
    display: flex;
    flex-direction: column;
}
.form-input-wrapper img{
        height: 250px;
        width: 100%;
        object-fit: cover;
        border-radius: 2.5px;
    }
/*///////////////////Form Input settings///////////////////////////*/
input, textarea{
    outline: none;
    max-width: 50ch;
}
input[type=text], input[type=password], textarea, select, input[type=file],input[type=number], input[type=date], input[type=time], input[type=email],input[type=phone]{
    appearance: none;
    border: 1px solid hsl(339, 44%, 44%);
    border-radius: 5px;
    padding: 0.25rem;
    transition: box-shadow 300ms ease-out;
    margin-block: 0.25rem;
    
}
input[type=text]:focus,input[type=password]:focus,textarea:focus,select:focus,input[type=file]:focus,input[type=number]:focus,input[type=date]:focus,input[type=time]:focus,input[type=email]:focus,input[type=phone]:focus{
        box-shadow: 0 0 2px 3px hsl(339, 44%, 50%);
        transition: box-shadow 300ms ease-out;
    }
input[type=date], input[type=time], input[type=number]{
    width: min-content;
}
textarea{
    width: 100%;
    margin-bottom: 1rem;
    padding:.375rem .75rem;
    resize: auto;
    border-radius: 5px;
  }
@media (min-width:768px) {
textarea{
      min-height: 0;
      margin-bottom: 1rem;
      height: 100%
  }
    }
select{
    display: block;
    width: min-content;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    font-size: 1rem;
    background-color: #fff;
    appearance: none;
    border: 1px solid hsl(339, 44%, 44%);
    border-radius: 0.25rem;
    background-image: url("../img/icons/down.svg");
    background-repeat: no-repeat;
      background-position: right 0.75rem center;
      background-size: 16px 12px;
  }
select:focus{
      outline: none;
      box-shadow: 0 0 2pt 1pt hsl(339, 44%, 44%);
        transition: box-shadow 250ms ease;
    }
/*button wrapper, displays buttons and spaces them out*/
.button-section, .modal-button-section{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.button-section button,.button-section a,.modal-button-section button,.modal-button-section a{
        width: 100%;
        max-width: 390px;
    }
.button-section, .modal-button-section{
    gap: .5rem;
}
@media(min-width:768px){
.button-section, .modal-button-section{
        flex-direction: row;
        width: 80%;
        max-width: 600px
}
        .button-section button, .button-section a, .modal-button-section button, .modal-button-section a{
            width: fit-content;
        }
    }
.button-section a,.modal-button-section a{
        text-decoration: none;
    }
/*checkboxes*/
.checkbox-form-control{ /*label acts as the wrapper*/
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
}
input[type="checkbox"]{/*basic styling*/
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 1px solid hsl(339, 44%, 44%);
    border-radius: 5px;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}
.checkbox-form-control + .checkbox-form-control {
    margin-top: 1em;
  }
input[type="checkbox"]::before{
    content: "";
    width: .65em;
    height: .65em;
    transform: scale(0);
    transition: 200ms transform ease-in-out;
    box-shadow: inset 1em 1em hsl(339, 44%, 44%);
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
input[type="checkbox"]:checked::before{
    transform: scale(1);
}
input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid hsl(339, 44%, 44%);
    outline-offset: max(2px, 0.15em);
  }
/*////Toggle Switches*/
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
  }
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
  }
input:checked + .slider {
    background-color: hsl(339, 44%, 50%);
  }
input:focus + .slider {
    box-shadow: 0 0 1px hsl(339, 44%, 50%);
  }
input:checked + .slider:before {
    transform: translateX(26px);
  }
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
  }
.slider.round:before {
    border-radius: 50%;
  }
/*///////////////////////////////////////*/
/*/ */
/*/ Form responses //////////////*/
.form-response{ /*standard settings for success */
    background-color: hsl(339, 44%, 80%);
    padding: 2rem;
    border-radius: 5px;
}
/*Response colours*/
.error{/*modifier class for error messages*/
    background-color: hsl(0, 95%, 67%);
}
.input-error{/*modifier class for input errors with empty fields*/
    background-color: hsl(0, 95%, 67%);
    color: #fff;
}
/*/////////////Form controls //////////*/
.form-controls{
    padding: 1rem;

    border: 1px solid hsl(339, 44%, 50%);
    border-radius: 2.5px;

}
.form-controls-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-controls-btn img{
        height: 1.25rem;
        margin-inline-start: 1rem;
    }
/*Form modal setting when on a big screen*/
@media(min-width:768px){
    .modal-body .form-card{
        width: 50ch;
    }
}
/*Set the height of button sections to stop layout shifts when hidden*/
.btn-wrapper{
    height: 38.667px;
}
/*/////////Spinners ///////////*/
.form-controls-btn .loading-icon{

    animation: spinner 3s infinite ease-out;
    opacity: 1;
}
@keyframes spinner{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
.loading{
    opacity: 1;
}
/*///////Search box input\\\\\\\\\\*/
.search-input{
    display: flex;
    align-items: center;
    
}
.search-input input{
        border-bottom-right-radius:0px;
        border-top-right-radius:0px;
    }
.search-input button{
        height: 33.33px;
        width: 33.33px;
        padding: 0.25rem;
        border: none;

        border-radius: 0;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;

    }
.search-input button svg{
            height: 100%;
            margin: 0;
        }
.search-input button path{
            fill: #fff;
        }
.price-list-controls, .search-controls{
    background-color: hsl(339, 44%, 80%);
    border-radius: 5px;
    padding: 0.5rem;
}
@media(min-width: 768px){
.price-list-controls, .search-controls{
        display: flex;
        align-items: center;
        justify-content: space-between
}
    }
/*/hide recaptcha logo on small screens*/
@media(max-width:768px){
.grecaptcha-badge{
        visibility: hidden
    
}
    }
.std-card{
    padding: 1.5rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background-color:hsl(339, 44%, 95%);
}
.std-card-icon{
    color: hsl(339, 44%, 47%);
    background-color: hsl(159, 43%, 87%);
    width: min-content;
    padding: 0.5rem;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: grid;
    place-items: center;
}
.std-card-icon .feather{
        height: 100%;
        width: auto;
    }
/*cta card*/
.cta-card{
    background-color: hsl(339, 44%, 47%);
    padding: 1.5rem;
}
/*featurecard*/
.info-card{
    background-color: hsl(339, 44%, 47%);
  
    display: flex;
    gap: 0.5rem;
    background-color: hsl(339, 44%, 95%);
    padding: 0.5rem;
    border-radius: 5px;
}
.info-card-icon{
    font-size: 2rem;
}
/*review card*/
.review{
    padding: 2rem;
    align-items: flex-start;
}
.review-text{
    position: relative;
}
.review-author, .review-author a{
    color: hsl(339, 44%, 47%);
}
.review-text .icon{
    opacity: .9;
    color: hsl(339, 44%, 47%);
    position: absolute;
    top: -10px;
    left: -25px;
    font-size: 1.5rem;
}
/*profile-card*/
.profile-card{
    background-color: hsl(339, 44%, 95%);
}
.profile-card a{
        color:hsl(339, 44%, 47%);
    }
.profile-card-body {
    padding: 1.5rem;
    
}
.profile-card-socials a{
        font-size: 1.5rem;
    }
@media(min-width:768px){
    .profile-card{
        display: flex;
        gap: 2rem;
    }
    .profile-card-col{
        width: 50%;
    }
}
/*/pricing card*/
.pricing-card{
    border: 1px solid hsl(339, 44%, 44%);
    border-radius: 5px;
}
.pricing-card-header{
    padding: 1rem;
    text-align: center;
    background-color: hsl(339, 44%, 95%);
    border-radius: inherit;
    border-bottom: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.pricing-card-header h3{
        font-size: 2rem;
    }
.pricing-card-body{
    padding: 1rem;
    text-align: center;
}
.pricing-card-price{
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
}
/*card with a header img*/
.img-card{
    background-color: hsl(339, 44%, 95%);
    border: 1px solid hsl(339, 44%, 47%);
    border-radius: 5px;
}
.img-card img{
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }
.img-card-body{
    padding: 1rem;
}
.alert-card{
    background-color: hsl(339, 44%, 47%);
    color: #fff;
    padding: 1.5rem;
}
.cookie-overlay {/*container*/
  display: none;
    position: fixed;
    bottom: 0.25rem;
    left: 0.25rem;
    background: hsl(43, 45%, 80%);
    padding: 2rem;
    z-index: 2051;
    font-size: 14px;
    border-radius: 5px;
    max-width:400px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.cookie-overlay a {
      text-decoration: underline;
    }
.cookie-overlay .accept-cookies{/*accept cookies button*/
      display: block;
      width: 100%;
    }
.cookie-overlay .btn-close{
      background-size: 1.5rem;
    }
.cookie-overlay-icon{
  display: grid;
  place-items: center;
}
.cookie-text{
   font-size: 1rem;
   line-height: 1.7;
  }
.cookie-text p{
    color:hsl(43, 45%, 20%);;
   }
.cookie-text h2{
    text-align: center;
    color: hsl(43, 49%, 25%);
   }
.close-cookies, .accept-cookies{
    cursor: pointer;
  }
.close-cookies{
      position:absolute ;
      top: 1rem;
      right: 1rem;
      height: 40px;
      width: 40px;
      padding: 0.25rem;
  }
.close-cookies svg{
        height: 100%;
      }
.close-cookies svg path{
          fill: hsl(339, 44%, 44%);
        }
.std-table{/*standard table settings*/
    width: 100%;
    border-collapse: collapse;
   
}
.std-table th{
        text-align: left;
    }
.std-table td{
        padding: .5rem;
        border-bottom: 1px solid hsl(339, 44%, 47%);
    }
.table-wrapper{
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
/*class for all feather icons*/
.feather {
    width: 1em;
    height: 1em;
    stroke: currentColor;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    vertical-align: -0.125em;
}
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
      fill: currentColor;
    }
.feature-list{
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 0.5rem;

}
.feature-list_feature{
        color: hsl(339, 44%, 47%);
        font-weight: 500;
        padding: 0.5rem;
        background-color: hsl(339, 44%, 95%);
        border-radius: 5px;
    }
@media(min-width:768px){
    .feature-list{
        flex-direction: row;
    }
}
.accordion-body{
    border: 1px solid hsl(339, 44%, 44%);
    border-radius: 0.375rem;
    padding: 1.5rem;
    background-color:rgba(hsl(339, 44%, 47%), 0.35);
}
.accordion-item{
    border: 1px solid hsl(339, 44%, 44%);
    background-color: white;
}
.accordion-item:first-of-type{
        border-top-right-radius: 0.375rem;
        border-top-left-radius: 0.375rem;
    }
.accordion-item:first-of-type .accordion-button{
        border-top-right-radius: 0.375rem;
        border-top-left-radius: 0.375rem;
    }
.accordion-item:last-of-type{
        border-bottom-right-radius: 0.375rem;
        border-bottom-left-radius: 0.375rem;
    }
.accordion-item:last-of-type .accordion-button{
        border-bottom-right-radius: 0.375rem;
        border-bottom-left-radius: 0.375rem;
    }
.accordion-item:last-of-type .accordion-button:is(.active-accordion){
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
.accordion-item:not(:first-of-type){
        border-top: 0;
    }
.accordion-button{
    position: relative;
    display: flex;
    align-items:center ;
    justify-content: space-between;
    background-color: initial;
    border: 0px;
    color: currentColor;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    font-size: 1rem;
    font-weight: 500;
    outline: transparent;
    transition:  350ms ease-in-out;
}
.accordion-button:hover{
        background-color: hsl(339, 44%, 95%);
        color: #0d0d0d;
        transition: 350ms ease-in-out;
    }
.accordion-button:focus{
        background-color: hsl(339, 44%, 80%);
        outline: 2px solid hsl(339, 44%, 44%);
        /*box-shadow: $accordion-box-shadow;*/
        transition: outline 350ms ease-in-out;
    }
.accordion-button .feather{
        transform: rotate(0);
        transition: transform 350ms ease-in-out;
        stroke: hsl(339, 44%, 47%);
        font-size: 1.5em;
    }
/*Settings for active accordion button*/
.active-accordion{
    background-color: hsl(339, 44%, 80%);
    color: #0d0d0d;
    transition: 350ms ease-in-out;

}
.active-accordion:hover{
        background-color: rgba(hsl(339, 44%, 95%), 0.5);
        transition: 350ms ease-in-out;
    }
.active-accordion .feather{
        transform: rotate(180deg);
        transition: transform 350ms ease-in-out;
    }
.accordion-panel{
    max-height: 0;
    overflow: hidden;
    transition: max-height 350ms ease-in-out;
    
}
.active-accordion-panel{
    border-top: 1px solid hsl(339, 44%, 44%);
    transition: 350ms ease-in-out;
}
.accordion-panel-item{
    padding: 1rem;
}
/*spacing utilities*/
/*m = margin*/
/*p = padding*/
/*y = top and bottom*/
/*t = top*/
.mt-1{
    margin-top: 0.25rem;
}
.mb-1{
    margin-bottom: 0.25rem;
}
.mb-2{
    margin-bottom: 0.5rem;
}
.mb-3{
    margin-bottom: 1.5rem;
}
.mb-4{
    margin-bottom: 2rem;
}
.my-2{
    margin-block: 0.5rem;
}
.my-3{
    margin-block: 1.5rem;
    
}
.my-4{
    margin-block: 2rem;
}
.my-5{
    margin-block: 2.5rem;
}
.my-6{
    margin-block: 3rem;
}
.my-7{
    margin-block: 4rem;
}
/*Padding//*/
.py-2{
    padding-block: 0.5rem;
}
.py-3{
    padding-block: 1.5rem;
}
.py-4{
    padding-block: 2rem;
}
.py-5{
    padding-block: 2.5rem;
}
.pt-0{
    padding-top: 0;
}
/*////*/
/*colour utilities*/
.bg-primary{
    /*change bg to primary colour*/
    background-color: hsl(339, 44%, 44%);
}
.primary-900{
    background-color: hsl(339, 44%, 90%);
}
.primary-950{
    background-color: hsl(339, 44%, 95%);
}
.bg-secondary-col{
    /*change bg to secondary col*/
    background-color: hsl(159, 43%, 87%);
}
/*Text Alignments*/
.text-center{
    text-align: center;
}
/* Borders*/
.border-std{/*place a border radius std on all the site*/
    border-radius: 5px;
}
/*Font colours*/
/*Change default font to primary colour*/
.text-color-primary{
    color: hsl(339, 44%, 44%);
}
/*Change font colour to white*/
.text-color-white{
    color: #fff;
}
/*Accent Color for any text*/
.accent-text{
    color: hsl(339, 44%, 47%);
    font-weight: 500;
}
/*flex utility classes*/
.flex-column{/*makes a flex column*/
    display: flex;
    flex-direction: column;
}
.flex-space-between{
    justify-content: space-around;
}
/*/Display utilities*/
.d-none{
    display: none;
}
.d-block{
    display: block;
}
.place-start{
    place-self: flex-start;
}
/*image with borders*/
.border-img{
    border: 2px solid hsl(339, 44%, 47%);
    border-radius: 5px;
}
/*main site nav bar*/
/*Nav bar height*/
.nav-wrapper {
    border-bottom: 1px solid hsl(339, 44%, 47%);
    padding-block: 0.5rem;
}
/*main site nav with logo etc*/
.nav-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 65px;
    width: 95%;
    margin-inline: auto;
}
.nav-brand a {
    display: inline;
}
.nav-brand img {
    max-height: 60px;

}
/*nav button settings*/
.nav-btn-wrapper {
    display: grid;
    place-items: center;
}
.nav-btn {
    background: transparent;
    border: none;
    display: grid;
    place-items: center;
    cursor: pointer;
    border-radius: 4px;
}
.nav-btn:focus,
    .nav-btn:focus-within {
        outline: 2px solid hsl(339, 44%, 47%);
    }
.nav-btn .lines {
        /*svg*/
        fill: hsl(339, 44%, 44%);
    }
.line {
    /*animations*/
    transition:
        transform 400ms ease-out 600ms,
        rotate 400ms ease-out,
        opacity 0ms 400ms;
    transform-origin: center;
}
/*once active these styles apply*/
[aria-expanded="true"] .line {
    /*hamburger lines*/
    transition:
        transform 400ms ease-out,
        rotate 400ms ease-out 400ms,
        opacity 0ms 400ms;

}
[aria-expanded="true"] .top {
    transform: translateY(20px);
    rotate: 45deg;
}
[aria-expanded="true"] .bottom {
    transform: translateY(-20px);
    rotate: -45deg;

}
[aria-expanded="true"] .middle {
    opacity: 0;
}
/*outer wrapper for nav menu*/
.nav-links {
    /*nav bar links*/
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 90%;
    background-color: hsl(339, 44%, 95%);
}
/*nav-links menu */
.nav-menu li {
        list-style-type: none;


    }
.nav-menu a {
        text-decoration: none;
        padding: 0.5rem;
        width: 100%;
        text-align: center;
        font-size: 1rem;
        color: hsl(339, 44%, 44%);
        margin-block: 0.5rem;
        animation: navopen 300ms ease-in-out forwards;
    }
.nav-menu a:hover,
        .nav-menu a:focus {
            text-decoration: underline;
        }
.nav-menu .link-active {
        color: hsl(339, 44%, 47%);
        font-weight: 800;
    }
.nav-menu .cta{
        background-color: hsl(339, 44%, 47%);
        border-radius: 5px;
        color: #fff;
    }
/*active link styles*/
/*settings for active menu only apply to smaller screens*/
@media(max-width: 992px) {
/*nav menu header*/
.nav-links-header {
    padding-block: 0.5rem;
    width: 95%;
    margin-inline: auto;
    display: flex;
    justify-content: flex-end;
}
    .nav-links[data-state="opened"] {
        display: block;
        animation: navopen 600ms cubic-bezier(.86,0,.07,1) forwards;
    }

    .nav-links[data-state="closing"] {
        animation: navclose 600ms cubic-bezier(.86,0,.07,1) forwards;
        
    }

    .nav-links[data-state="closed"] {
        display: none;
    }
    @keyframes navclose {
        100% {
            transform:translateX(100%);
        }
    
        0% {
            transform:translateX(0%)
        }
    }
    
    @keyframes navopen {
        0% {
            transform:translateX(100%);
        }
    
        100% {
            transform:translateX(0);
        }
    }
}
/*wider screen settings*/
@media(min-width: 992px) {
    .nav-btn-wrapper {
        display: none;
    }

    .nav-brand {
        width: 40%;
    }

    .nav-links {

        position: static;
        background: transparent;
        border: none;
        width: auto;

    }
        .nav-links a {
            margin-block: 0;



        }
    .nav-links-header{
        display: none;
    }
    .nav-menu{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}
footer{
    /*background-color: $primary;*/
    border-top: 2px solid hsl(339, 44%, 47%);
}
.footer-container{
    padding-block: 1.5rem;
    display: grid;
    gap: 1.5rem;
}
.footer-copyright{
    border-top: 2px solid hsl(339, 44%, 44%);
    padding-block: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media(min-width:768px){
    .footer-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .footer-copyright{
        flex-direction: row;
        padding-block:0.5rem;
    }
}
.hero {
    padding: 4rem 0 4rem;
    display: grid;
    gap: 1.5rem;
}
.hero h1 {
        font-weight: 400;
        text-wrap: balance;
    }
.hero p {
        font-size: 1.25rem;
    }
.hero .hero-col{
    max-width: 65ch;
}
.hero img{
    place-self: end center;
}
@media(min-width: 992px){
    .hero{
        display: grid;
        grid-template-columns: 65ch auto;
        gap: 1.5rem;
    }
}
.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
.hero-title {
    place-self: center;
}
.hero-footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    opacity: .9;
    padding-inline: 0.5rem;
    font-size: 1.25rem;
    font-weight: 300;
    padding-bottom: 0.25rem;
    place-self: end center;
    width: 95%;



}
@media(min-width:768px) {
    .hero-img-card {
        max-height: 600px;


    }

    .hero-footer {
        flex-direction: row;
        justify-content: space-between;

    }
}
.section-divider img{
        width: auto;
        margin: 0 auto;
    }
main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    min-height: 100dvh;
}
/*Full width call to action banner*/
/*Highlight section with bg colour*/
.cta-section{
    background-color: hsl(339, 44%, 90%);
    padding-block: 2rem;
}
.cta-section a{
        color: #030706;
    }
.cta-section a.btn-primary{
        color: #fff;
    }
.cta-section .cta-card{
    background-color: hsl(339, 44%, 44%);
}
/*colour scheme tabs for portfolio pages*/
/*css variables for changing as per each clients page*/
.portfolio{
    --font-primary:sans-serif;
    --font-secondary:sans-serif;
    --bg-col-primary:#8c8c8c;
    --bg-col-secondary:#8c8c8c;
    --bg-col-tertiary:#8c8c8c;
}
/*wrapper*/
.colour-tabs{
    
    padding: 0.5rem;
}
.colour-tab{
    border: 2px solid hsl(339, 44%, 47%);
}
/*color tab*/
.color-tab-col{
    height: 250px;
    
}
.color-tab-col.primary{
    
        background-color: var(--bg-col-primary);
   
}
.color-tab-col.secondary{
    
        background-color: var(--bg-col-secondary);
   
}
.color-tab-col.tertiary{
    
        background-color: var(--bg-col-tertiary);
   
}
.colour-tab-ref, .colour-tab-title{
    padding: 0.5rem;
}
/*class for displaying client font family*/
.portfolio .font-primary{
    font-family: var(--font-primary);
    font-size: 1.5rem;
}
.portfolio .font-secondary{
    font-family: var(--font-secondary);
    font-size: 1.5rem;
}
.portfolio .hero img{
    max-height: 250px;
}
/* client logo grey out colous*/
.client-logo{
    filter: grayscale(100%);
    max-width: 250px;
place-self: center;
    
}
/*Flex rows. Column on small screens and row on larger screens*/
.row{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
}
@media(min-width: 768px){
.row{
    flex-direction: row
    
}
   }
/*Flex utilities*/
@media(min-width:768px){
.flex-reverse-md{
        flex-direction: row-reverse /* reverse flex direction only on larger screen sizes*/
    
}
    }
.grid-row-2col{/*grid row with 2 columns of equal width*/
    display: grid;
    gap: 0.5rem;

}
@media(min-width:768px){
.grid-row-2col{
        grid-template-columns: 1fr 1fr

}
        
    }
.grid-row-3col{/*grid row with 3 columns of equal width*/
    display: grid;
    gap: 0.5rem;
}
@media(min-width:768px){
.grid-row-3col{
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(100px, auto)
}
    }
/*Utility classes for grid */
.place-grid-start{/*places a grid item at the top of a grid row*/
    place-self: start;
}
.grid-auto-sm{ /*auto grid small columns*/
    display: grid;
    gap: 0.25rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
}
/*checkout page grid layout*/
@media(min-width:768px){
    
    .checkout-grid{
        grid-template-columns: 1fr auto;
    
    }
}
.container-fluid,
.container{
    width: 100%;
    padding-inline: 1rem;
}
.container-fw{/*Full width container with no padding and margin*/
    width: 100%;
}
.container{
    margin: 0 auto;
}
@media (min-width:576px){
    .container{
        max-width: 540px;
    }
}
@media (min-width:768px){
    .container{
        max-width: 720px;
    }
}
@media (min-width:992px){
    .container{
        max-width: 960px;
    }
}
@media (min-width:1200px){
    .container{
        max-width: 1140px;
    }
}
@media (min-width:1400px){
    .container{
        max-width: 1320px;
    }
}
/* Main content wrapper*/
.content{
    /*padding: .25rem;*/
}


/*# sourceMappingURL=styles.css.map */