//class for all feather icons
.feather {
    width: 1em;
    height: 1em;
    stroke: currentColor;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    vertical-align: -0.125em;
}
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
      fill: currentColor;
    }