.std-table{//standard table settings
    width: 100%;
    border-collapse: collapse;
    th{
        text-align: left;
    }
    td{
        padding: .5rem;
        border-bottom: 1px solid $accent ;
    }
   
}
.table-wrapper{
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
