//Colours
$base-bg: #fbfefd;
$text-col: #030706;
$primary: hsl(339, 44%, 44%);
$primary-btn: $primary;
$secondary: hsl(159, 43%, 87%);
$secondary-btn: $secondary;
$accent: hsl(339, 44%, 47%);
$grey: hsl(0, 0%, 89%);
$hue: 339;
$saturation: 44%;
$primary-500: hsl($hue, $saturation, 50%);
$primary-600: hsl($hue, $saturation, 60%);
$primary-700: hsl($hue, $saturation, 70%);
$primary-800: hsl($hue, $saturation, 80%);
$primary-900: hsl($hue, $saturation, 90%);
$primary-950: hsl($hue, $saturation, 95%);

//form colours
$primary-form: #3b685c;
$error-response: hsl(0, 95%, 67%);

