// Border Radius

$border-radius: 5px;
$border-radius-2: 2.5px;
$border-radius-3: 1.25px;

///Screen Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$x-lg: 1200px;
$xx-lg: 1400px;

//Padding and margin settings
//standard padding for the site

$padding-1: 1.5rem;
$padding-2: 2rem;

//Spacers
$spacer-1: 0.25rem;
$spacer-2: 0.5rem;
$spacer-3: 1.5rem;
$spacer-4: 2rem;
$spacer-5: 2.5rem;
$spacer-6: 3rem;
$spacer-7: 4rem;