//Full width call to action banner
//Highlight section with bg colour
.cta-section{
    background-color: $primary-900;
    padding-block: $spacer-4;
    a{
        color: $text-col;
    }
    a.btn-primary{
        color: #fff;
    }
.cta-card{
    background-color: $primary;
}
}