footer{
    //background-color: $primary;
    border-top: 2px solid $accent;
}

.footer-container{
    padding-block: $spacer-3;
    display: grid;
    gap: $spacer-3;
}

.footer-copyright{
    border-top: 2px solid $primary;
    padding-block: $spacer-3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media(min-width:$md){
    .footer-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .footer-copyright{
        flex-direction: row;
        padding-block:$spacer-2;
    }
}